<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
  <session-factory>
  	<!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/xw_sql?characterEncoding=UTF-8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>
        
        <property name="hbm2ddl.auto">update</property>
        <mapping resource="pojo_Pag/Food.hbm.xml" />
        <mapping resource="pojo_Pag/User.hbm.xml" />
       <mapping  resource="pojo_Pag/Shop.hbm.xml" />
       <mapping  resource="pojo_Pag/Older.hbm.xml" />
        
        
  
  </session-factory>
</hibernate-configuration>
